@import url('href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
$main-font: 'Outfit', sans-serif;
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$main-bg: hsl(217, 54%, 11%);
$card-bg:hsl(216, 50%, 16%);
$white: hsl(0, 0%, 100%);
$line:hsl(215, 32%, 27%);
*{
    margin: 0%;
    padding: 0%;
}
html{
    min-width: 375px;
    height: 100%;
}
body{
    background-color: $main-bg;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 70px;
}
.card{
    z-index: 1;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $card-bg;
    box-shadow: 8px 8px $main-bg;
    .img-container{
        padding-top: 20px;
        display: flex;
        width: inherit;
        height: max-content;
        padding-bottom: 20px;
        justify-content: center;
        a{
            
            display: flex;
            justify-content: center;
            border-radius: 8px;
        .icon{
            display: inline-flex;
            position: absolute;
            opacity: 0;
            align-self: center;
        }
        .imga{
            background-color: $cyan;
            display: inline;
            width: 260px;
            border-radius: 8px; 
           
            }
            &:hover{
                background-color: $cyan;
                mix-blend-mode: lighten;
                .imga{
                    opacity: 0.6;
                }
                .icon{
                    z-index: 4;
                    opacity: 2;
                }
        }
    }
        
    }
    .content{
        text-align: left;
        color: $white;
        font-family: $main-font;
        font-weight: 600;
        padding: 0px 20px;
        &:hover{
            color: $cyan;
            cursor: pointer;
        }
        p{
            font-family: inherit;
            font-weight: 400;
            color: $soft-blue;
            padding-top: 20px;
            word-spacing: 1px;
        }
    }
    .side-c{
        width: inherit;
        height: 20px;
        display: flex;
        flex-direction: row;
        padding-top: 25px;
        justify-content: space-between;
        .eth{
            display: inherit;
            font-family: $main-font;
            font-weight: 600;
            color: $cyan;
            align-items: center;
            img{
                display: flex;
                padding: 0px 8px 0px 20px;
            }
        }
        .days{
            display: flex;
            font-family: inherit;
            padding-right: 20px;
            font-weight: inherit;
            color: $soft-blue;
            align-items: center;
            
            img{
            padding-right: 6px;
             display: flex;
             align-content: center;

            }
        }
        padding-bottom: 15px;
    }
    
    .final{
        display: inline-flex;
        float: left;
        width: 100%-15%;
        border-top: 2px $line solid;
        padding-top: 15px;
        font-family: $main-font;
        color: $soft-blue;
        justify-content: flex-start;
        align-items: center;
        font-size: medium;
        .avatar{
            display: inline-flex;
            justify-content: space-around;
            width: 30px;
            height: 30px;
            border: 1px $white solid;
            border-radius: 50px;
            img{
                display: inline-block;
                border-radius: 500px;
                width: 30px;
                height: 30px;
               
            }
        }
        p{
            padding-left: 10px;
            font-size: $main-font;
            color: $soft-blue;
            letter-spacing: 1px;
            font-size: small;
        }
        a{
            color: $white;
            &:hover{
                color: $cyan;
            }
        }
    }
}


